<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
  <div class="text-center">
    <h2>そうさほうほうをえらんでね</h2>
    <div>
      <%= link_to 'き〜ぼ〜ど', keyboard_game_path, class: 'btn btn-lg custom-btm text-white' %>
      <%= link_to 'まうす', mouse_game_path, class: 'btn btn-lg custom-btm text-white' %>
    </div>
  </div>
</div>
