<div class="d-flex justify-content-center align-items-center">
  <div data-controller="keyboard-game"
     data-keyboard-game-fruits-images-value="<%= [
       { image: asset_path('fruit01.webp'), score: 1 },
       { image: asset_path('fruit02.webp'), score: 3 },
       { image: asset_path('fruit03.webp'), score: 2 },
       { image: asset_path('fruit04.webp'), score: 4 },
       { image: asset_path('fruit05.webp'), score: 5 }
     ].to_json %>">

    <div class="text-center">
      <div data-action="click->keyboard-game#startGame" class="btn btn-lg custom-btm text-white mt-2">сЂњсђюсѓђсЂЎсЂЪсђюсЂе</div>
    </div>
    <div class="d-flex justify-content-between w-100">
      <div data-keyboard-game-target="score" class="fs-4">сЂесЂЈсЂдсѓЊ: 0</div>
      <div data-keyboard-game-target="timer" class="fs-4">сЂ«сЂЊсѓі: 30 сЂ│сѓЄсЂє</div>
    </div>
    <div class="game-area" data-keyboard-game-target="gameArea">
      <%= image_tag('character.webp',
              alt: 'character',
              class: 'character',
              tabindex: '0',
              'data-keyboard-game-target': 'character',
              'data-action': 'keydown@window->keyboard-game#moveCharacter') %>
    </div>

    <!-- сЃбсЃ╝сЃђсЃФ -->
    <div class="modal fade" id="gameResultModal" tabindex="-1" aria-labelledby="gameResultModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="gameResultModalLabel">сЂњсЃ╝сѓђсЂЌсѓЁсЂєсѓісѓЄсЂє</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="gameResult">­Ъї│сЂѓсЂфсЂЪсЂ«сЂесЂЈсЂдсѓЊсЂ»<span id="finalScore"></span>сЂдсѓЊсЂДсЂЎ­ЪјЅ</p>
          </div>
          <div class="modal-footer">
            <img src="<%= asset_path('x.webp') %>" class="rounded-3" style="width: 40px; height: 40px; cursor: pointer;" data-action="click->keyboard-game#tweetScore" data-keyboard-game-base-url="<%= request.base_url %>" alt="сЂЌсЂЄсЂѓ">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">сѓѓсЂєсЂёсЂАсЂЕсЂѓсЂЮсЂХ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

